OFFICIAL_STORE_FILE=C:\\keys\\6thfinger-official.p12
# This is the password you entered for the PKCS12 keystore.
OFFICIAL_STORE_PASSWORD=change_me
# If you created the keystore without -alias, keytool usually uses "mykey".
OFFICIAL_KEY_ALIAS=mykey
# For this PKCS12 flow the key password is usually the same as the keystore password.
OFFICIAL_KEY_PASSWORD=change_me
